# SPDX-FileCopyrightText: 2025 Mass Labs
#
# SPDX-License-Identifier: MIT

.env
.env.staging
.env.sepolia
.env.production
.vscode
.pytest_cache
__pycache__
.testruns
result
patch_logs
shop_data
massmarket_client.egg-info
dist
shop_hydration_data.cbor
cola
